In [3]:
greetings = "Hello everybody!"

In [4]:
greetings

'Hello everybody!'

In [5]:
who

greetings

In [6]:
type(1)

int

In [7]:
type(greetings)

str

In [8]:
random_number = 7

In [9]:
who

greetings	 random_number

In [10]:
random_number

7

In [11]:
print(greetings)

Hello everybody!

In [12]:
print(random_number)

7

In [13]:
lucky_number = random_number

In [14]:
lucky_number

7

In [15]:
float_number = 12.5

In [16]:
type(float_number)

float

In [17]:
float_number + random_number

19.5

In [18]:
sum_result = float_number + random_number

In [19]:
sum_result

19.5

In [20]:
greetings + random_number

TypeError: can only concatenate str (not "int") to str

In [21]:
greetings

'Hello everybody!'

In [22]:
welcoming = "Welcome"

In [26]:
formal_greeting = greetings + " " + welcoming

In [27]:
print(formal_greeting)

Hello everybody! Welcome

In [28]:
formal_greeting = greetings + " " + welcoming
print(formal_greeting)

Hello everybody! Welcome

In [29]:
random_number = "7"

In [30]:
random_number

'7'

- list
- string
- tuples
- dictionnary
- set

In [31]:
l = list()

In [32]:
l

[]

In [33]:
type(l)

list

In [34]:
l = []

In [35]:
type(l)

list

In [36]:
l = [1,2,3,4,5,6,7,8,9]

In [37]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

To get the length of a list

In [39]:
len(l)

9

In [40]:
l[0]

1

In [41]:
l[4]

5

In [42]:
l[len(l)-1]

9

In [45]:
l[-1]

9

In [46]:
l[-2]

8

In [47]:
l[1] + l[6]

9

In [48]:
l[0:3]

[1, 2, 3]

In [49]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
l[0:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
l[9]

IndexError: list index out of range

In [52]:
l[4:7]

[5, 6, 7]

In [53]:
l[:3]

[1, 2, 3]

In [54]:
l[2:]

[3, 4, 5, 6, 7, 8, 9]

In [55]:
l[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
l[:3]

[1, 2, 3]

In [58]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

how to add a new element to my list?

In [60]:
l.append(10)

In [61]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
len(l)

10

In [65]:
l.insert(2,2.5 )

In [66]:
len(l)

11

In [67]:
l

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
l.insert(11,"last element")

In [69]:
l

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10, 'last element']

In [70]:
len(l)

12

In [72]:
l.pop()

'last element'

In [73]:
l

[1, 2, 2.5, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
l.pop(2)

2.5

In [75]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
l.append("something")

In [78]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'something']

In [79]:
l.remove("something")

In [80]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
k = ["one", 12.4,6, [7,9]]

In [82]:
type(k)

list

In [83]:
t = l + k

In [84]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9]]

In [86]:
t.extend(["two","thre"])

In [87]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

In [88]:
t.count(1)

1

In [89]:
t.count(6)

2

In [91]:
t.index(6)

5

In [92]:
t[5]

6

In [93]:
t[6:].index(6)

6

In [101]:
t.index("one",6)

10

In [99]:
t.index?

In [97]:
greetings

'Hello everybody!'

In [102]:
list(greetings)

['H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 'b',
 'o',
 'd',
 'y',
 '!']

String

In [103]:
greetings

'Hello everybody!'

In [104]:
list(greetings)

['H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'e',
 'v',
 'e',
 'r',
 'y',
 'b',
 'o',
 'd',
 'y',
 '!']

In [106]:
type(greetings)

str

In [107]:
len(greetings)

16

In [108]:
greetings[0]

'H'

In [109]:
greetings[4:9]

'o eve'

In [110]:
greetings

'Hello everybody!'

In [111]:
space = " "

In [112]:
space

' '

In [113]:
len(space)

1

In [115]:
greetings.count("o")

2

In [116]:
greetings.count("e")

3

In [122]:
great_greetings = greetings + " This is a great day!"

In [123]:
great_greetings.index('!')

15

In [124]:
great_greetings[0:16]

'Hello everybody!'

In [125]:
great_greetings.split()

['Hello', 'everybody!', 'This', 'is', 'a', 'great', 'day!']

In [126]:
great_greetings

'Hello everybody! This is a great day!'

In [127]:
great_greetings.split("!")

['Hello everybody', ' This is a great day', '']

In [130]:
day = "saturday"

In [131]:
day.capitalize()

'Saturday'

In [133]:
day_upper = day.upper()

In [134]:
day_upper

'SATURDAY'

In [136]:
day_lower = day_upper.lower()

In [137]:
day_lower

'saturday'

In [142]:
day.capitalize()[:2].upper().replace("S","Z")

'ZA'

In [143]:
result = 15*(12.63-7)

In [144]:
print(result)

84.45000000000002

In [148]:
result_string = "The result of your operation is: " + str(result) + " Thank you"

In [149]:
result_string

'The result of your operation is: 84.45000000000002 Thank you'

In [150]:
result_string = f"The result of your operation is: {result} Thank you"

In [151]:
result_string

'The result of your operation is: 84.45000000000002 Thank you'

In [158]:
result_string = f"The result of your operation is: {result:.2f} Thank you"

In [159]:
result_string

'The result of your operation is: 84.45 Thank you'

tuple

In [162]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [163]:
l[2] = 33

In [164]:
l

[1, 2, 33, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [166]:
l.pop(2)

33

In [167]:
l

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [168]:
l[:3]

[1, 2, 4]

In [169]:
l[5:]

[7, 8, 9, 10]

In [171]:
l = l[:3] + l[5:]

In [172]:
l

[1, 2, 4, 7, 8, 9, 10]

Tuples

In [174]:
t_var = tuple()

In [175]:
t_var

()

In [176]:
t_var = ()

In [177]:
type(t_var)

tuple

In [185]:
t_var = ("monday","tuesday",1,12.5,t)

In [186]:
len(t_var)

5

In [188]:
t_var[0]

'monday'

In [189]:
t_var[1]

'tuesday'

In [191]:
t_var[-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

In [192]:
t_var[1:3]

('tuesday', 1)

In [193]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

In [194]:
t[0] = "first"

In [195]:
t

['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

In [196]:
t_var

('monday',
 'tuesday',
 1,
 12.5,
 ['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre'])

Dictionary

In [197]:
d = dict()

In [198]:
d

{}

In [199]:
d = {}

In [200]:
type(d)

dict

In [201]:
d = {
    "name":"Yassine",
    "city":"Paris",
    "school": "DSTI",
}

In [202]:
d

{'name': 'Yassine', 'city': 'Paris', 'school': 'DSTI'}

In [203]:
d['name']

'Yassine'

In [204]:
d["city"]

'Paris'

In [205]:
d.keys()

dict_keys(['name', 'city', 'school'])

In [206]:
len(d)

3

In [208]:
d.values()

dict_values(['Yassine', 'Paris', 'DSTI'])

In [209]:
d.items()

dict_items([('name', 'Yassine'), ('city', 'Paris'), ('school', 'DSTI')])

In [210]:
d["passion"] = "Python"

In [212]:
d

{'name': 'Yassine', 'city': 'Paris', 'school': 'DSTI', 'passion': 'Python'}

In [213]:
print(d)

{'name': 'Yassine', 'city': 'Paris', 'school': 'DSTI', 'passion': 'Python'}

In [214]:
d["city"] = "Lyon"

In [215]:
d

{'name': 'Yassine', 'city': 'Lyon', 'school': 'DSTI', 'passion': 'Python'}

In [220]:
d.update({
    "city": "Strasbourg",
    "sport": "Baskteball",
    "favorit_dish": "Pizza",
})

In [221]:
d

{'name': 'Yassine',
 'city': 'Strasbourg',
 'school': 'DSTI',
 'passion': 'Python',
 'sport': 'Baskteball',
 'favorit_dish': 'Pizza'}

In [218]:
d.update?

Sets

In [222]:
s = set()

In [224]:
s = {1,2,3}

In [225]:
type(s)

set

In [226]:
s = set(l)

In [228]:
s

{1, 2, 4, 7, 8, 9, 10}

In [231]:
duplicates_list = [5,5,9,3,2,1,7,4,5,8,9,6,3,5,8,7]

In [232]:
duplicates_list.count(5)

4

In [233]:
set_unic_elements = set(duplicates_list)

In [236]:
list(set(duplicates_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [237]:
set_unic_elements

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [238]:
s

{1, 2, 4, 7, 8, 9, 10}

In [239]:
set_unic_elements.intersection(s)

{1, 2, 4, 7, 8, 9}

In [241]:
set_unic_elements.union(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [242]:
set_unic_elements - s

{3, 5, 6}

In [243]:
len(s)

7

In [244]:
s.update({45,65,6})

In [245]:
s

{1, 2, 4, 6, 7, 8, 9, 10, 45, 65}

In [246]:
s

{1, 2, 4, 6, 7, 8, 9, 10, 45, 65}

In [249]:
s.intersection({100})

set()

For loops

In [264]:
l = list(range(50))

In [266]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [269]:
for i in range(50):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [270]:
t

['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

In [275]:
types_t = []
print(types_t)
for e in t:
    types_t.append(str(type(e)))
    print(types_t)

[]
["<class 'str'>"]
["<class 'str'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>", "<class 'str'>"]
["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>", "<class 'str'>", "<class 'str'>"]

In [276]:
len(types_t)

16

In [277]:
len(t)

16

In [279]:
types_t = []
print(types_t)
for i in range(len(t)):
    print(f"this is the value of i {i}")
    print(f"this is the value of t[i] {t[i]}")
    types_t.append(str(type(t[i])))
    print(f"this is the state of the list types_t at the itteration number {i} {types_t}")

[]
this is the value of i 0
this is the value of t[i] first
this is the state of the list types_t at the itteration number 0 ["<class 'str'>"]
this is the value of i 1
this is the value of t[i] 2
this is the state of the list types_t at the itteration number 1 ["<class 'str'>", "<class 'int'>"]
this is the value of i 2
this is the value of t[i] 3
this is the state of the list types_t at the itteration number 2 ["<class 'str'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 3
this is the value of t[i] 4
this is the state of the list types_t at the itteration number 3 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 4
this is the value of t[i] 5
this is the state of the list types_t at the itteration number 4 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 5
this is the value of t[i] 6
this is the state of the list types_t at the itteration number 5 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 6
this is the value of t[i] 7
this is the state of the list types_t at the itteration number 6 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 7
this is the value of t[i] 8
this is the state of the list types_t at the itteration number 7 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 8
this is the value of t[i] 9
this is the state of the list types_t at the itteration number 8 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 9
this is the value of t[i] 10
this is the state of the list types_t at the itteration number 9 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>"]
this is the value of i 10
this is the value of t[i] one
this is the state of the list types_t at the itteration number 10 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>"]
this is the value of i 11
this is the value of t[i] 12.4
this is the state of the list types_t at the itteration number 11 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>"]
this is the value of i 12
this is the value of t[i] 6
this is the state of the list types_t at the itteration number 12 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>"]
this is the value of i 13
this is the value of t[i] [7, 9]
this is the state of the list types_t at the itteration number 13 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>"]
this is the value of i 14
this is the value of t[i] two
this is the state of the list types_t at the itteration number 14 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>", "<class 'str'>"]
this is the value of i 15
this is the value of t[i] thre
this is the state of the list types_t at the itteration number 15 ["<class 'str'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'int'>", "<class 'str'>", "<class 'float'>", "<class 'int'>", "<class 'list'>", "<class 'str'>", "<class 'str'>"]

In [280]:
i

15

In [281]:
l = ["a","b","c"]
new_l = []
for i in range(len(l)):
    new_l.append(l[i].upper())

In [284]:
l = ["a","b","c"]
new_l = [c.upper() for c in l]

In [285]:
new_l

['A', 'B', 'C']

In [287]:
dict_upperd = {k:k.upper() for k in l}

In [288]:
dict_upperd

{'a': 'A', 'b': 'B', 'c': 'C'}

In [291]:
dict_uppered = {}
for k in l:
    dict_uppered[k] =k.upper()

In [292]:
dict_uppered

{'a': 'A', 'b': 'B', 'c': 'C'}

In [294]:
t

['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'thre']

if statement

In [295]:
boolean = True

In [296]:
type(boolean)

bool

In [301]:
a = 0

In [302]:
a

0

In [303]:
if a == 0:
    print("a is 0")

a is 0

In [304]:
isinstance?

In [307]:
for e in t:
    if isinstance(e,int):
        print(t.index(e))

1
2
3
4
5
6
7
8
9
5

T new list that should contain elements mapped to the list t

* if str then upper
* if int then replace it by 0
* if list then append "last element" to it

In [354]:
t = ['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'three']

In [355]:
from copy import copy

In [356]:
T= []
for e in t: 
    if isinstance(e,str):
        T.append(e.upper())
    if isinstance(e,int):
        T.append(0)
    if isinstance(e,list):
        print(f"e before transformation {e}")
        temp_e = copy(e)
        temp_e.append("last element")
        print(f"e after transformation {e}")
        T.append(temp_e)
        
print(f"this is my list t {t}")
print(f"this is my list T {T}")

e before transformation [7, 9]
e after transformation [7, 9]
this is my list t ['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'three']
this is my list T ['FIRST', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'ONE', 0, [7, 9, 'last element'], 'TWO', 'THREE']

In [360]:
T= []
for e in t: 
    if isinstance(e,str):
        T.append(e.upper())
        print(f"for {e} condition 1 is True")
    elif isinstance(e,int):
        T.append(0)
        print(f"for {e} condition 2 is True")
    elif isinstance(e,list):
        print(f"e before transformation {e}")
        temp_e = copy(e)
        temp_e.append("last element")
        print(f"e after transformation {e}")
        T.append(temp_e)
        print(f"for {e} condition 3 is True")
    else:
        print(f"for the element {e} no condition is satisfied")
        
print(f"this is my list t {t}")
print(f"this is my list T {T}")

for first condition 1 is True
for 2 condition 2 is True
for 3 condition 2 is True
for 4 condition 2 is True
for 5 condition 2 is True
for 6 condition 2 is True
for 7 condition 2 is True
for 8 condition 2 is True
for 9 condition 2 is True
for 10 condition 2 is True
for one condition 1 is True
for the element 12.4 no condition is satisfied
for 6 condition 2 is True
e before transformation [7, 9]
e after transformation [7, 9]
for [7, 9] condition 3 is True
for two condition 1 is True
for three condition 1 is True
this is my list t ['first', 2, 3, 4, 5, 6, 7, 8, 9, 10, 'one', 12.4, 6, [7, 9], 'two', 'three']
this is my list T ['FIRST', 0, 0, 0, 0, 0, 0, 0, 0, 0, 'ONE', 0, [7, 9, 'last element'], 'TWO', 'THREE']

In [361]:
a = [1,2]
b= a

In [362]:
b

[1, 2]

In [363]:
b[1] = 3

In [364]:
b

[1, 3]

In [365]:
a

[1, 3]