In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
l = [1,5,8,6]

In [5]:
len(l)

4

In [6]:
l.append(48)

In [7]:
l

[1, 5, 8, 6, 48]

In [8]:
l.sort()

In [9]:
l

[1, 5, 6, 8, 48]

In [10]:
array = np.array(l)

In [11]:
array

array([ 1,  5,  6,  8, 48])

In [12]:
array * 2

array([ 2, 10, 12, 16, 96])

In [145]:
df = pd.DataFrame({
    "date": ["2021/09/25","2021/09/30", "2021/11/02"],
    "course" : ["python","sql","math"]
})

In [104]:
df

         date  course
0  2021/09/25  python
1  2021/09/30     sql
2  2021/11/02    math

In [105]:
df.loc[1,"course"]

'sql'

In [106]:
df.loc[:,"date"]

0    2021/09/25
1    2021/09/30
2    2021/11/02
Name: date, dtype: object

In [107]:
my_string = "this is a beautiful day"

In [108]:
my_string.split('i')

['th', 's ', 's a beaut', 'ful day']

In [109]:
df.loc[0,"date"].split("/")[0]

'2021'

In [110]:
type(df)

pandas.core.frame.DataFrame

In [111]:
type(df.date)

pandas.core.series.Series

In [112]:
pd.Series.apply?

In [113]:
df.loc[:,"year"] = df.date.apply(lambda s : s.split("/")[0] )

In [114]:
df

         date  course  year
0  2021/09/25  python  2021
1  2021/09/30     sql  2021
2  2021/11/02    math  2021

### datetime library

In [115]:
from datetime import date,time,datetime

In [31]:
date?

In [116]:
my_date = date(2010,9,5)

In [117]:
my_date

datetime.date(2010, 9, 5)

In [118]:
my_date.year

2010

In [119]:
my_date.day

5

In [120]:
my_date.month

9

In [121]:
my_date.isoformat()

'2010-09-05'

In [122]:
my_date.strftime("The name of the weekday is %A with the day of the month %d of the month name %B of the year %Y")

'The name of the weekday is Sunday with the day of the month 05 of the month name September of the year 2010'

In [123]:
my_time = time(10,25,32)

In [124]:
my_time

datetime.time(10, 25, 32)

In [125]:
my_time.hour

10

In [126]:
my_time.second

32

In [127]:
my_time.strftime("%S %M %H")

'32 25 10'

In [128]:
my_datetime = datetime(2010,9,5,10,25)

In [129]:
my_datetime.month

9

In [130]:
my_datetime.second

0

In [131]:
my_datetime.timestamp()

1283675100.0

In [132]:
my_datetime2 = datetime.fromtimestamp(1253679200)

In [133]:
delta = my_datetime2 - my_datetime

In [134]:
delta

datetime.timedelta(days=-348, seconds=71300)

In [135]:
df.date

0    2021/09/25
1    2021/09/30
2    2021/11/02
Name: date, dtype: object

### datetime with pandas

In [146]:
df.loc[:,"datetime"] = pd.to_datetime(df.date)

In [137]:
df

         date  course  year   datetime
0  2021/09/25  python  2021 2021-09-25
1  2021/09/30     sql  2021 2021-09-30
2  2021/11/02    math  2021 2021-11-02

In [138]:
df.datetime.apply(lambda x : x.month)

0     9
1     9
2    11
Name: datetime, dtype: int64

In [139]:
df.datetime[0].year

2021

In [140]:
df.datetime[0].month

9

In [141]:
df.datetime[0].isoweekday()

6

In [148]:
df.index = df.datetime

In [144]:
df = df.drop(columns="datetime")

In [149]:
df

                  date  course   datetime
datetime
2021-09-25  2021/09/25  python 2021-09-25
2021-09-30  2021/09/30     sql 2021-09-30
2021-11-02  2021/11/02    math 2021-11-02

In [150]:
df = df.drop(columns="datetime")

In [151]:
df

                  date  course
datetime
2021-09-25  2021/09/25  python
2021-09-30  2021/09/30     sql
2021-11-02  2021/11/02    math

In [154]:
df.index.min()

Timestamp('2021-09-25 00:00:00')

In [156]:
df.resample("M").count()

            date  course
datetime
2021-09-30     2       2
2021-10-31     0       0
2021-11-30     1       1

In [97]:
custom_date = "09-02-2012"

In [99]:
custom_date_datetime = datetime.strptime(custom_date,"%m-%d-%Y")

In [100]:
custom_date_datetime.year

2012

In [101]:
df

                  date  course  year
datetime
2021-09-25  2021/09/25  python  2021
2021-09-30  2021/09/30     sql  2021
2021-11-02  2021/11/02    math  2021

In [158]:
df.resample("d").count()

            date  course
datetime
2021-09-25     1       1
2021-09-26     0       0
2021-09-27     0       0
2021-09-28     0       0
2021-09-29     0       0
2021-09-30     1       1
2021-10-01     0       0
2021-10-02     0       0
2021-10-03     0       0
2021-10-04     0       0
2021-10-05     0       0
2021-10-06     0       0
2021-10-07     0       0
2021-10-08     0       0
2021-10-09     0       0
2021-10-10     0       0
2021-10-11     0       0
2021-10-12     0       0
2021-10-13     0       0
2021-10-14     0       0
2021-10-15     0       0
2021-10-16     0       0
2021-10-17     0       0
2021-10-18     0       0
2021-10-19     0       0
2021-10-20     0       0
2021-10-21     0       0
2021-10-22     0       0
2021-10-23     0       0
2021-10-24     0       0
2021-10-25     0       0
2021-10-26     0       0
2021-10-27     0       0
2021-10-28     0       0
2021-10-29     0       0
2021-10-30     0       0
2021-10-31     0       0
2021-11-01     0       0
2021-11-02     1       1