## For loops

`for` element `in` sequence:
    do

In [44]:
sequence = ["a",1,["c","d"], {"key":"value"},["c","d"]]

In [45]:
for element in sequence:
    print(element)

a
1
['c', 'd']
{'key': 'value'}
['c', 'd']

In [46]:
len(sequence)

5

In [47]:
range(4)

range(0, 4)

In [48]:
for i in range(4):
    print(i)

0
1
2
3

In [49]:
list(range(4))

[0, 1, 2, 3]

In [50]:
for i in range(len(sequence)):
    print(i)

0
1
2
3
4

In [51]:
for i in range(len(sequence)):
    print(sequence[i])

a
1
['c', 'd']
{'key': 'value'}
['c', 'd']

In [52]:
for element in sequence:
    print(type(element))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'list'>

In [53]:
sequence_types = []
for element in sequence:
    sequence_types.append(str(type(element)))

In [54]:
sequence_types

["<class 'str'>",
 "<class 'int'>",
 "<class 'list'>",
 "<class 'dict'>",
 "<class 'list'>"]

In [55]:
sequence

['a', 1, ['c', 'd'], {'key': 'value'}, ['c', 'd']]

In [56]:
sequence.index(['c', 'd'])

2

In [42]:
for element in sequence:
    print(element)
    if isinstance(element,list):
        list_index = sequence.index(element)
        sequence[list_index] = str(type(element))
        print(sequence[list_index])
    print(element)

a
a
1
1
['c', 'd']
<class 'list'>
['c', 'd']
{'key': 'value'}
{'key': 'value'}
['c', 'd']
<class 'list'>
['c', 'd']

In [57]:
len(sequence)

5

In [61]:
for i in range(len(sequence)):
    print(sequence[i])
    if isinstance(sequence[i],list):
        sequence[i] = str(type(sequence[i]))
    print(sequence[i])

a
a
1
1
['c', 'd']
<class 'list'>
{'key': 'value'}
{'key': 'value'}
['c', 'd']
<class 'list'>

In [62]:
sequence

['a', 1, "<class 'list'>", {'key': 'value'}, "<class 'list'>"]

In [70]:
if False:
    print("True")
    print("outside of the condition")

In [71]:
for i in range(5):
    print(i)

0
1
2
3
4
4

In [86]:
not 52847

False

In [85]:
bool(52847)

True

In [89]:
a = None

In [98]:
for i,element in enumerate(sequence):
    print(i)
    print(element)

0
a
1
1
2
<class 'list'>
3
{'key': 'value'}
4
<class 'list'>

In [99]:
sequence = ["a",1,["c","d"], {"key":"value"},["c","d"]]

In [100]:
sequence

['a', 1, ['c', 'd'], {'key': 'value'}, ['c', 'd']]

In [101]:
for element in sequence:
    print(type(element))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'list'>

In [105]:
sequence_types = [str(type(element)) for element in sequence]

In [106]:
l = [1,2,3,4]

In [107]:
[e**2 for e in l]

[1, 4, 9, 16]

In [109]:
{e:e**2 for e in l }

{1: 1, 2: 4, 3: 9, 4: 16}

In [123]:
{i:(i**2,str(t)) for i,t in enumerate([type(e) for e in sequence if isinstance(e,list)]) }

{0: (0, "<class 'list'>"), 1: (1, "<class 'list'>")}

In [126]:
[type(e) for e in sequence if isinstance(e,list)]

[list, list]