## Variables

Very easy to create and declare, you just need to write it down

In [49]:
a = "hello world"

a has a string as a value and does exist in our workspace 
To check what we have in our workspace you can use the command 'who'

In [2]:
who

a

To check the type of the variable we can use the function `type()`

In [3]:
type(a)

str

`a` is a string indeed

In [4]:
b = 29

In [5]:
type(b)

int

`b` is an int (integer)

## List

In [6]:
l = list()

In [7]:
l

[]

In [8]:
l = []

In [9]:
l

[]

In [11]:
l = ["text","another text"]

In [12]:
l

['text', 'another text']

In [13]:
l[0]

'text'

In [14]:
l[1]

'another text'

In [15]:
len(l)

2

In [54]:
l.append("another one different")

In [25]:
l.insert(2,"third position")

In [28]:
l

['head', 'text', 'third position', 'another text', 'another one', 'text 3']

In [29]:
l.pop()

'text 3'

In [55]:
l

['text',
 'third position',
 'another text',
 'another one',
 'another one different']

In [31]:
l.pop(0)

'head'

In [32]:
l

['text', 'third position', 'another text', 'another one']

In [33]:
len(l)

4

In [34]:
l[3]

'another one'

In [35]:
l[-1]

'another one'

In [36]:
l[-2]

'another text'

In [39]:
l[-1]

'another one'

In [57]:
a

'Hello world'

In [53]:
a = a.capitalize()

In [58]:
a

'Hello world'

In [61]:
a = a.upper()

In [62]:
a

'HELLO WORLD'

In [65]:
a = a.lower()

In [66]:
a[0]

'h'

In [67]:
l

['text',
 'third position',
 'another text',
 'another one',
 'another one different']

In [68]:
l.append(a)

In [69]:
l

['text',
 'third position',
 'another text',
 'another one',
 'another one different',
 'hello world']

In [70]:
a = a.upper()

In [71]:
l

['text',
 'third position',
 'another text',
 'another one',
 'another one different',
 'hello world']

In [72]:
a

'HELLO WORLD'

In [73]:
a.split()

['HELLO', 'WORLD']

In [75]:
a.split("O")

['HELL', ' W', 'RLD']

In [76]:
"defect1,defect3,defect4".split(",")

['defect1', 'defect3', 'defect4']

In [77]:
b ="Today is a beautiful day"

In [80]:
a +"! " + b

'HELLO WORLD! Today is a beautiful day'

In [81]:
f" This is a formated string containing {a} and {b} and {l}"

" This is a formated string containing HELLO WORLD and Today is a beautiful day and ['text', 'third position', 'another text', 'another one', 'another one different', 'hello world']"

In [82]:
"This is a formated string {} and {}".format(a,b)

'This is a formated string HELLO WORLD and Today is a beautiful day'

In [87]:
Comments = F"""
This is a report about today
       the greting is {a}
and the day is {b}

"""

In [92]:
print(Comments)

This is a report about today
       the greting is HELLO WORLD
and the day is Today is a beautiful day

In [102]:
c = 123.25478

In [103]:
print(f"this is a number {c}")

this is a number 123.25478

In [115]:
print(f"this is a number {c:.5f}")

this is a number 123.25478

## Dictionary

In [116]:
d = dict()

In [117]:
d

{}

In [118]:
d = {}

In [119]:
type(d)

dict

In [120]:
d = {"key":"value"}

In [121]:
d

{'key': 'value'}

In [122]:
d = {"name":"Nassim",
    "age":27,
    "address": "Paris"}

In [123]:
d

{'name': 'Nassim', 'age': 27, 'address': 'Paris'}

In [124]:
d["name"]

'Nassim'

In [125]:
d["address"]

'Paris'

In [126]:
d.keys()

dict_keys(['name', 'age', 'address'])

In [127]:
len(d)

3

In [128]:
d.values()

dict_values(['Nassim', 27, 'Paris'])

In [129]:
d.update({"Passion":"python"})

In [130]:
d

{'name': 'Nassim', 'age': 27, 'address': 'Paris', 'Passion': 'python'}

In [131]:
d["origin"] = "Algeria!"

In [132]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!'}

In [133]:
import pprint

In [134]:
pprint.pprint(d)

{'Passion': 'python',
 'address': 'Paris',
 'age': 27,
 'name': 'Nassim',
 'origin': 'Algeria!'}

In [145]:
d["list"] = ["e", 1,{"key":"value"}]

In [146]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!',
 0: ['e', 1, {'key': 'value'}],
 'list': ['e', 1, {'key': 'value'}]}

In [143]:
d.items()

dict_items([('name', 'Nassim'), ('age', 27), ('address', 'Paris'), ('Passion', 'python'), ('origin', 'Algeria!'), (0, ['e', 1, {'key': 'value'}])])

In [147]:
d["list"]

['e', 1, {'key': 'value'}]

In [159]:
d["list"][2]["key"]

'value'

In [161]:
d["list"][2]["key"] ="valeur"

In [162]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!',
 0: ['e', 1, {'key': 'value'}],
 'list': ['e', 1, {'key': 'valeur'}]}

In [171]:
d["list"].pop()

{'key': 'valeur'}

In [172]:
d["list"]

['e', 1]

In [173]:
d["list"].append({"clé":"valeur"})

In [175]:
temp = d["list"].pop()

In [178]:
d["list"].append({"clé" : temp["clé"]})

In [179]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!',
 0: ['e', 1, {'key': 'value'}],
 'list': ['e', 1, {'clé': 'valeur'}]}

In [182]:
d["list"][-1].pop?

Object `pop` not found.

In [190]:
d["list"][-1]["clé"] = d["list"][-1].pop("key")

In [191]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!',
 0: ['e', 1, {'key': 'value'}],
 'list': ['e', 1, {'clé': 'valeur'}]}

In [192]:
d.pop(0)

['e', 1, {'key': 'value'}]

In [193]:
d

{'name': 'Nassim',
 'age': 27,
 'address': 'Paris',
 'Passion': 'python',
 'origin': 'Algeria!',
 'list': ['e', 1, {'clé': 'valeur'}]}

## Tuple

In [195]:
t = tuple()

In [196]:
t

()

In [197]:
len(t)

0

In [198]:
type(t)

tuple

In [210]:
t = ("a","b","a","c")

In [211]:
t[0]

'a'

In [212]:
t[1]

'b'

In [213]:
t[-1]

'c'

In [214]:
t[0] = "new element"

TypeError: 'tuple' object does not support item assignment

In [215]:
t.count("b")

1

In [216]:
t.count("a")

2

In [217]:
t.index("a")

0

In [222]:
t[1:]

('b', 'a', 'c')

In [219]:
t

('a', 'b', 'a', 'c')

In [223]:
t[1:3]

('b', 'a')

In [224]:
t[1:4]

('b', 'a', 'c')

## Set

In [226]:
s = set()

In [227]:
s.add(5)

In [228]:
s

{5}

In [229]:
s.add(5)

In [230]:
s

{5}

In [231]:
s.add(4)

In [232]:
s.add(484)

In [233]:
s.add(4)

In [234]:
s

{4, 5, 484}

In [235]:
s.pop()

484

In [236]:
s

{4, 5}

In [238]:
s.remove(5)